<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCQeUMd1LNZ-m-xNtWLTHC_vE6zCxbTxT0</string>
	<key>GCM_SENDER_ID</key>
	<string>121515815177</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.rxDartPhonebook.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>rxdart-learning</string>
	<key>STORAGE_BUCKET</key>
	<string>rxdart-learning.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:121515815177:ios:0fbabc097f90902ad963d8</string>
</dict>
</plist>